NODE_ENV=development
PORT=8000
DB_HOST=localhost
DB_PORT=5432
DB=zameen
DB_USER=postgres
DB_PASSWORD=root
SESSION_TIMEOUT=20
UPLOAD_PATH=/home/tech
SESSION_SECRET=xxxx
DATABASE_URL=postgresql://postgres:root@localhost:5432/zameen?schema=public
